<h1>Listing people</h1>
<div><%= link_to 'New Person', new_person_path %></div>
<table>
  <tr>
    <th>Name</th>
    <th>Short</th>
    <th>Mobile</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.short %></td>
    <td><%= person.mobile %></td>
    <td><%= person.email %></td>
    <td><%= link_to 'Detail', person %></td>
    <td><%= link_to 'Summary', summary_person_path(person) %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Delete', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
