<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Short:</b>
  <%= @person.short %>
</p>

<p>
  <b>Mobile:</b>
  <%= @person.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
<b>Groups:</b>
<% @person.groups.each do |group| %>
<%= link_to group.name, group_path(group) %> | 
<% end %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'People Index', people_path %>
