<%= form_tag add_group_event_path(@group, @event) do |f|%>
	<%= flash[:notice]%>
  <div class="field">
  <%= label_tag	'People' %><br />
	  <table>
		  <tr>
			  <th>Name</th>
		  </tr>
	  <% @group.people.each do |person|%>
   		<tr>
			<td>
			  <%= check_box_tag "event[person_ids][]", person.id, @event.people.include?(person) %>
			  <%= label_tag person.name %>	
			</td>
		</tr> 
	  <% end %>
  </table>
  <%= submit_tag 'OK'%>
  </div>
<% end %>
