<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= flash[:notice]%>
  <div class="field">
	  <%= f.label :group_id %><br />
	  <%= select_tag(:group_id, options_from_collection_for_select(@user.groups, :id, :name, @event.group_id))%>
  </div>
  <div class="field">
	  <%= f.label :place_id %><br />
	  <%= select_tag(:place_id, options_from_collection_for_select(Place.all, :id, :name, @event.place_id))%>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= text_field_tag :date %>
  </div>
  <div class="field">
    <%= f.label :event_type_id %><br />
    <%= select_tag(:event_type_id, options_from_collection_for_select(EventType.all, :id, :name, @event.event_type_id)) %>
  </div>
  <div class="field">
    <%= label_tag :pay %><br />
    <%= text_field_tag :pay %>
  </div>
  <div class="field">
    <%= label_tag :user_ids %><br />
    <%= text_field_tag :user_ids %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
