<p id="notice"><%= notice %></p>

<p>
  <b>Place:</b>
  <%= @event.place.name %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Type:</b>
  <%= @event.event_type.name %>
</p>

<table>
	<tr>
		<th>Name</th>
		<th>Pay</th>
		<th>Consume</th>
	</tr>
	<% @event.event_users.each do |p| %>
	<tr>
		<td><%= p.user.name %></td>
		<td><%= p.pay %></td>
		<td><%= p.consume%></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_events_path(@event) %> |
<%= link_to 'To Events', events_path %>
